# Copy this file to .env and fill in your real values before running.
RESY_API_KEY=VbWk7s3L4KiK5fzlO7JD3Q5EYolJI7n5
RESY_AUTH_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3ODE2MTE2OTQsInVpZCI6OTYzODQyMCwiZ3QiOiJjb25zdW1lciIsImdzIjpbXSwibGFuZyI6ImVuLXVzIiwiZXh0cmEiOnsiZ3Vlc3RfaWQiOjQ0Mzg0NDI4fX0.AAzya_HmQ8npfLbPCDc6ewLqU751Xt_Nzi_lG1ctyJh2aEhNKaHxZsILIq2T2Q46_iOSQrspwUOjU2aPQWy0hSL4AA1Ubg9syVkSCb8tvPSV76ap536_cDe19SKEpRjlSQ6Ax6g9irV-YyRxPOOlVr97qVSg8zEvCQCZHlwE7QtBckXu
USER_AGENT=Chrome/124.0.0.0
